/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* BANNER */
.banner {
  padding: 100px 20px;
  background: linear-gradient(to right, #0d1b2a, #1b263b);
  color: white;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* FOOTER */
.footer {
  background-color: #111;
  color: white;
  padding: 20px;
  margin-top: 50px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }
}

/* SERVIÇOS */
.servicos-topo {
  background: linear-gradient(to right, #1b263b, #0d1b2a);
  color: white;
  padding: 80px 20px;
}

.servicos-topo h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Cards */
.servico-card {
  transition: 0.3s;
  border: none;
}

.servico-card:hover {
  transform: translateY(-10px);
}

/* Benefícios */
.beneficios {
  background-color: #e9ecef;
  padding: 60px 20px;
}

/* SOBRE */
.sobre-topo {
  background: linear-gradient(to right, #1b263b, #415a77);
  color: white;
  padding: 80px 20px;
}

.sobre-topo h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* CONTATO */
.contato-topo {
  background: linear-gradient(to right, #0d1b2a, #415a77);
  color: white;
  padding: 80px 20px;
}

.contato-topo h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

/* DARK MODE */
body.dark-mode {
  background-color: #121212 !important;
  color: white !important;
}

/* Navbar */
body.dark-mode .navbar {
  background-color: #000 !important;
}

/* Cards */
body.dark-mode .card {
  background-color: #1f1f1f;
  color: white;
}

/* Formulários */
body.dark-mode form {
  background-color: #1f1f1f;
  color: white;
}

/* Inputs */
body.dark-mode .form-control {
  background-color: #2b2b2b;
  color: white;
  border: 1px solid #555;
}

/* Footer */
body.dark-mode .footer {
  background-color: #000;
}

/* Seções */
body.dark-mode .beneficios {
  background-color: #1a1a1a;
}

/* Botão */
#darkModeBtn {
  transition: 0.3s;
}

/* CONTADORES */
.contadores {
  background-color: #ffffff;
  padding: 80px 20px;
}

.contador {
  font-size: 4rem;
  font-weight: bold;
  color: #0d6efd;
}

.contadores p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Dark Mode */
body.dark-mode .contadores {
  background-color: #1a1a1a;
}
